<h1>Tomagotchi Virtual Pet</h1>

<a href="/tomagotchi/new">Create a new Tomagotchi pet!</a><br>

<ul>
  @foreach (var pet in Model)
  {
    <li><a href="/tomagotchi/@pet.GetID()">@pet.GetName()</a></li>
  }
</ul>

<a href="/tomagotchi/clear">Remove all existing pets</a>
