<h1>Tomagotchi Virtual Pet</h1>

<form action="/tomagotchi" method="post">
  <label for="name">Enter a name for your new pet</label>
  <input type="text" name="name" placeholder="Name">
  <button type="submit">Create Pet!</button>
</form>
